body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #b4b3b3
}

a {
  font-size: 3rem;
  color: #3133d1;
}

img {
  height: 22rem;
  width: 26rem;
}

h2 {
  font-size: 3rem;
}

ul {
  font-size: 1.5rem;
}
